/* Typing 'Collin' shows result16, but puts it at the bottom */
input[value="c" i] ~ #results #result15,
input[value="co" i] ~ #results #result15,
input[value="col" i] ~ #results #result15,
input[value="coll" i] ~ #results #result15,
input[value="colli" i] ~ #results #result15,
input[value="collin" i] ~ #results #result15 {
	display: block;
	order: 50; /* Lower priority than first-name matches */
}
input[value="c" i] ~ #results #result15::before { content: "Alexandre ğ‚ollin"; }
input[value="co" i] ~ #results #result15::before { content: "Alexandre ğ‚ğ¨llin"; }
input[value="col" i] ~ #results #result15::before { content: "Alexandre ğ‚ğ¨ğ¥lin"; }
input[value="coll" i] ~ #results #result15::before { content: "Alexandre ğ‚ğ¨ğ¥ğ¥in"; }
input[value="colli" i] ~ #results #result15::before { content: "Alexandre ğ‚ğ¨ğ¥ğ¥ğ¢n"; }
input[value="collin" i] ~ #results #result15::before { content: "Alexandre ğ‚ğ¨ğ¥ğ¥ğ¢ğ§"; }

/* --- --- --- */

input[value="al" i] ~ #results #result15,
input[value="ale" i] ~ #results #result15,
input[value="alex" i] ~ #results #result15,
input[value="alexa" i] ~ #results #result15,
input[value="alexan" i] ~ #results #result15,
input[value="alexand" i] ~ #results #result15,
input[value="alexandr" i] ~ #results #result15,
input[value="alexandre" i] ~ #results #result15 {
	display: block;
	order: 1;
}
input[value="al" i] ~ #results #result15::before { content: "ğ€ğ¥exandre Collin"; }
input[value="ale" i] ~ #results #result15::before { content: "ğ€ğ¥ğxandre Collin"; }
input[value="alex" i] ~ #results #result15::before { content: "ğ€ğ¥ğğ±andre Collin"; }
input[value="alexa" i] ~ #results #result15::before { content: "ğ€ğ¥ğğ±ğšndre Collin"; }
input[value="alexan" i] ~ #results #result15::before { content: "ğ€ğ¥ğğ±ğšğ§dre Collin"; }
input[value="alexand" i] ~ #results #result15::before { content: "ğ€ğ¥ğğ±ğšğ§ğre Collin"; }
input[value="alexandr" i] ~ #results #result15::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«e Collin"; }
input[value="alexandre" i] ~ #results #result15::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ Collin"; }
