/* Searching 'Ocasio' shows employee, but puts it at the bottom */
input[value="o" i] ~ #results #result22,
input[value="oc" i] ~ #results #result22,
input[value="oca" i] ~ #results #result22,
input[value="ocas" i] ~ #results #result22,
input[value="ocasi" i] ~ #results #result22,
input[value="ocasio" i] ~ #results #result22 {
	display: block;
	order: 50; /* Lower priority than first-name matches */
}
input[value="o" i] ~ #results #result22::before { content: "Alexandria ğcasio"; }
input[value="oc" i] ~ #results #result22::before { content: "Alexandria ğğœasio"; }
input[value="oca" i] ~ #results #result22::before { content: "Alexandria ğğœğšsio"; }
input[value="ocas" i] ~ #results #result22::before { content: "Alexandria ğğœğšğ¬io"; }
input[value="ocasi" i] ~ #results #result22::before { content: "Alexandria ğğœğšğ¬ğ¢o"; }
input[value="ocasio" i] ~ #results #result22::before { content: "Alexandria ğğœğšğ¬ğ¢ğ¨"; }

/* --- --- --- */

input[value="al" i] ~ #results #result22,
input[value="ale" i] ~ #results #result22,
input[value="alex" i] ~ #results #result22,
input[value="alexa" i] ~ #results #result22,
input[value="alexan" i] ~ #results #result22,
input[value="alexand" i] ~ #results #result22,
input[value="alexandr" i] ~ #results #result22,
input[value="alexandri" i] ~ #results #result22,
input[value="alexandria" i] ~ #results #result22 {
	display: block;
	order: 1;
}
input[value="al" i] ~ #results #result22::before { content: "ğ€ğ¥exandria Ocasio"; }
input[value="ale" i] ~ #results #result22::before { content: "ğ€ğ¥ğxandria Ocasio"; }
input[value="alex" i] ~ #results #result22::before { content: "ğ€ğ¥ğğ±andria Ocasio"; }
input[value="alexa" i] ~ #results #result22::before { content: "ğ€ğ¥ğğ±ğšndria Ocasio"; }
input[value="alexan" i] ~ #results #result22::before { content: "ğ€ğ¥ğğ±ğšğ§dria Ocasio"; }
input[value="alexand" i] ~ #results #result22::before { content: "ğ€ğ¥ğğ±ğšğ§ğria Ocasio"; }
input[value="alexandr" i] ~ #results #result22::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ia Ocasio"; }
input[value="alexandri" i] ~ #results #result22::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ¢a Ocasio"; }
input[value="alexandria" i] ~ #results #result22::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ¢ğš Ocasio"; }

