/* Typing 'Meunier' shows employee, but puts it at the bottom */
input[value="m" i] ~ #results #result16,
input[value="me" i] ~ #results #result16,
input[value="meu" i] ~ #results #result16,
input[value="meun" i] ~ #results #result16,
input[value="meuni" i] ~ #results #result16,
input[value="meunie" i] ~ #results #result16,
input[value="meunier" i] ~ #results #result16 {
	display: block;
	order: 50; /* Lower priority than first-name matches */
}
input[value="m" i] ~ #results #result16::before { content: "Alexandre ğŒeunier"; }
input[value="me" i] ~ #results #result16::before { content: "Alexandre ğŒğunier"; }
input[value="meu" i] ~ #results #result16::before { content: "Alexandre ğŒğğ®nier"; }
input[value="meun" i] ~ #results #result16::before { content: "Alexandre ğŒğğ®ğ§ier"; }
input[value="meuni" i] ~ #results #result16::before { content: "Alexandre ğŒğğ®ğ§ğ¢er"; }
input[value="meunie" i] ~ #results #result16::before { content: "Alexandre ğŒğğ®ğ§ğ¢ğr"; }
input[value="meunier" i] ~ #results #result16::before { content: "Alexandre ğŒğğ®ğ§ğ¢ğğ«"; }

/* --- --- --- */

input[value="al" i] ~ #results #result16,
input[value="ale" i] ~ #results #result16,
input[value="alex" i] ~ #results #result16,
input[value="alexa" i] ~ #results #result16,
input[value="alexan" i] ~ #results #result16,
input[value="alexand" i] ~ #results #result16,
input[value="alexandr" i] ~ #results #result16,
input[value="alexandre" i] ~ #results #result16 {
	display: block;
	order: 1;
}
input[value="al" i] ~ #results #result16::before { content: "ğ€ğ¥exandre Meunier"; }
input[value="ale" i] ~ #results #result16::before { content: "ğ€ğ¥ğxandre Meunier"; }
input[value="alex" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±andre Meunier"; }
input[value="alexa" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšndre Meunier"; }
input[value="alexan" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§dre Meunier"; }
input[value="alexand" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğre Meunier"; }
input[value="alexandr" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«e Meunier"; }
input[value="alexandre" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ Meunier"; }

/* --- --- --- */

input[value="alexandre " i] ~ #results #result16, 
input[value="alexandre m" i] ~ #results #result16, 
input[value="alexandre me" i] ~ #results #result16, 
input[value="alexandre meu" i] ~ #results #result16, 
input[value="alexandre meun" i] ~ #results #result16, 
input[value="alexandre meuni" i] ~ #results #result16, 
input[value="alexandre meunie" i] ~ #results #result16/*, 
input[value="alexandre meunier" i] ~ #results #result16*/ {
	display: block !important;
	order: 1;
}
/*input[value="alexandre " i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ Meunier"; }*/
input[value="alexandre m" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ ğŒeunier"; }
input[value="alexandre me" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ ğŒğunier"; }
input[value="alexandre meu" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ ğŒğğ®nier"; }
input[value="alexandre meun" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ ğŒğğ®ğ§ier"; }
input[value="alexandre meuni" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ ğŒğğ®ğ§ğ¢er"; }
input[value="alexandre meunie" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ ğŒğğ®ğ§ğ¢ğr"; }
input[value="alexandre meunier" i] ~ #results #result16::before { content: "ğ€ğ¥ğğ±ğšğ§ğğ«ğ ğŒğğ®ğ§ğ¢ğğ«"; }
