/* Searching for 'Pleguezelo' directly */
input[value="p" i] ~ #results #result0,
input[value="pl" i] ~ #results #result0,
input[value="ple" i] ~ #results #result0,
input[value="pleg" i] ~ #results #result0,
input[value="plegu" i] ~ #results #result0,
input[value="plegue" i] ~ #results #result0,
input[value="pleguez" i] ~ #results #result0,
input[value="plegueze" i] ~ #results #result0,
input[value="pleguezel" i] ~ #results #result0,
input[value="pleguezelo" i] ~ #results #result0 {
	display: block;
	order: 50; /* Lower priority than first-name matches */
}
input[value="p" i] ~ #results #result0::before { content: "Aurora ğleguezelo"; }
input[value="pl" i] ~ #results #result0::before { content: "Aurora ğğ¥eguezelo"; }
input[value="ple" i] ~ #results #result0::before { content: "Aurora ğğ¥ğguezelo"; }
input[value="pleg" i] ~ #results #result0::before { content: "Aurora ğğ¥ğğ uezelo"; }
input[value="plegu" i] ~ #results #result0::before { content: "Aurora ğğ¥ğğ ğ®ezelo"; }
input[value="plegue" i] ~ #results #result0::before { content: "Aurora ğğ¥ğğ ğ®ğzelo"; }
input[value="pleguez" i] ~ #results #result0::before { content: "Aurora ğğ¥ğğ ğ®ğğ³elo"; }
input[value="plegueze" i] ~ #results #result0::before { content: "Aurora ğğ¥ğğ ğ®ğğ³ğlo"; }
input[value="pleguezel" i] ~ #results #result0::before { content: "Aurora ğğ¥ğğ ğ®ğğ³ğğ¥o"; }
input[value="pleguezelo" i] ~ #results #result0::before { content: "Aurora ğğ¥ğğ ğ®ğğ³ğğ¥ğ¨"; }


/* --- --- --- */

input[value="au" i] ~ #results #result0,
input[value="aur" i] ~ #results #result0,
input[value="auro" i] ~ #results #result0,
input[value="auror" i] ~ #results #result0,
input[value="aurora" i] ~ #results #result0 {
	display: block;
        order: 1;
}
input[value="a" i] ~ #results #result0::before { content: "ğ€urora Pleguezelo"; }
input[value="au" i] ~ #results #result0::before { content: "ğ€ğ®rora Pleguezelo"; }
input[value="aur" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ora Pleguezelo"; }
input[value="auro" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ra Pleguezelo"; }
input[value="auror" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«a Pleguezelo"; }
input[value="aurora" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš Pleguezelo"; }

/* --- --- --- */

input[value="aurora " i] ~ #results #result0,
input[value="aurora p" i] ~ #results #result0,
input[value="aurora pl" i] ~ #results #result0,
input[value="aurora ple" i] ~ #results #result0,
input[value="aurora pleg" i] ~ #results #result0,
input[value="aurora plegu" i] ~ #results #result0,
input[value="aurora plegue" i] ~ #results #result0,
input[value="aurora pleguez" i] ~ #results #result0,
input[value="aurora plegueze" i] ~ #results #result0,
input[value="aurora pleguezel" i] ~ #results #result0,
input[value="aurora pleguezelo" i] ~ #results #result0 {
	display: block;
        order: 1;
}
input[value="aurora " i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš Pleguezelo"; }
input[value="aurora p" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğleguezelo"; }
input[value="aurora pl" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥egeuzelo"; }
input[value="aurora ple" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğguezelo"; }
input[value="aurora pleg" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğğ uezelo"; }
input[value="aurora plegu" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğğ ğ®ezelo"; }
input[value="aurora plegue" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğğ ğ®ğzelo"; }
input[value="aurora pleguez" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğğ ğ®ğğ³elo"; }
input[value="aurora plegueze" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğğ ğ®ğğ³ğlo"; }
input[value="aurora pleguezel" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğğ ğ®ğğ³ğğ¥o"; }
input[value="aurora pleguezelo" i] ~ #results #result0::before { content: "ğ€ğ®ğ«ğ¨ğ«ğš ğğ¥ğğ ğ®ğğ³ğğ¥ğ¨"; }

